body {
  border-left: red 10px solid;
  border-right: red 10px solid;
  border-radius: 30px;
  /* Err(6) */
  padding: 0px 30px;

  /* Err(5) */
  margin: 0px 60px;
}

h1,
h2 {
  color: red;
}

strong {
  font-size: 30px;
}

#no-semaine {
  text-decoration: underline double;
}

p {
  text-align: justify;
}

table {
  background-color: #f0f8ff;
}

td,
th {
  padding: 5px;
}

th {
  text-align: left;
}

td.total {
  font-weight: bold;
}

a {
  color: #e74c3c;
}

.total {
  text-align: right;
}

dt {
  font-weight: bold;
}
