/*
Auteur: Alexandre Laroche
CodePermanent: LARA69060208
Évaluation: Examen 1 (Q1)
Date: 2019-10-11
*/
body{
    /* Err(5) */
    margin: 60px;
    padding-right:30px;
    padding-left: 30px;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-radius: 10px;
}
#no-semaine{
    text-decoration: underline;
}

strong{
    font-size: 20px;
}

p{
    text-align: justify;
}

figure img{
    width: 300px;
}

table{
    background-color: #f0f8ff;
}

table a {
    color: #e74c3c;
}

td, th{
    padding: 5px;
}

th{
    text-align:left;
}

th.total{
    text-align:right;
}

dt{
    font-style: italic;
    font-style: bold;
}
