/* Résultat: 15.5/20 */
/* Résultat: -100.5/20 */
/* Err: (30) Il manque le fichier HTML, (0.5 point) */
body {
    /* Err: (14) La propriété margin-left doit être précisée, (1 point) */

    /* Err: (46) Mauvaise valeur, (1 point) */
    /* padding-left: 40px; */
    padding-left: 30px;
    margin-left: 50px;

    border-left: 10px black solid;
    counter-reset: diff, para;
}

p strong:hover {
    background-color: blue;
}

p strong {
    font-size: 30px;
}

i {
    font-weight: bold;
    text-decoration: line-through red;
    counter-increment: diff;
}

p {
    counter-increment: para;
    position: relative;
}

p:nth-of-type(even) {
    background-color: rgb(161, 217, 240);
}

i::before {
    content: counter(para) "." counter(diff) ".";
    color: red;
}

p strong.bacon::before, p strong.bacon::after {
    content: url("https://image.flaticon.com/icons/png/24/135/135641.png")
    /* Err: (36) Les images ont une marge à 3 pixels à droite (::before) et à gauche (::after) du texte bacon, (1 point) */
}

p strong.bacon:nth-of-type(3) {
    background-color: yellowgreen;
    padding: 0px 20px;
    border-radius: 10px;
}

p.bacon.pizza strong {
    color: red;
}

p.bacon.pizza {
    border: 3px red dashed;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
   
}

p.bacon.pizza::before {
    /* Err: (37) Les pseudo-éléments des paragraphes pizza bacon ont un remplissage de 3 pixels, (1 point) */
    content: "Pizza Bacon" " " counter(para);
    position: absolute;
    top: -15px;
    background-color: white;
    border:1px black dashed;
}
