
body {
  border-left: 10px solid black;
  margin-left: 50px;
  padding-left: 30px;
  text-align: justify;
}

p strong {
  font-size: 30px;
}

p {
  counter-reset: i;
  counter-increment: p;
  position: relative;
}

p:nth-of-type(even) {
  background-color: lightblue;
}

i {
  counter-increment: i;
  text-decoration: line-through red;
}

p strong:hover {
  background-color: blue;
}

i::before {
  color: red;
  content: counter(p) "." counter(i) ". ";
  font-weight: bold;
}

p strong.bacon::before {
  margin: 3px;
  content: url(https://image.flaticon.com/icons/png/24/135/135641.png);
}
/* Err: (21) : Règle redondante, (1 point) */
p strong.bacon::after {
  /* Err: (36) Les images ont une marge à 3 pixels à droite (::before) et à gauche (::after) du texte bacon, (1 point) */
  margin: 3px;
  content: url(https://image.flaticon.com/icons/png/24/135/135641.png);
}

p strong.bacon:nth-of-type(3) {
  background-color: rgb(89, 199, 89);
  padding: 0px 20px;
  border-radius: 10px;
}

p strong.bacon:nth-of-type(3):hover {
  background-color: blue;
}

p.bacon.pizza strong {
  color: red;
}

p.bacon.pizza {
  border: 3px dashed red;
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
}

p.bacon.pizza::before {
  position: absolute;
  top: -15px;
  border: dashed black 1px;
  padding: 3px;
  content: "Pizza Bacon " counter(p);
  background-color: white;
}
